# generic files to ignore
# backup files (*~)
*~

# files in .pyc format
*.pyc

# txt files (for example results)
*.txt

#for testing on big corpus, just temporary
run2.sh

#the model
model

# the corpora
*.col

# except this file
!.gitignore
